<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="nLogInternal\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- the targets to write to -->

  <targets async="true" throwExceptions="true">

    <!-- write logs to file  -->
    <!--

    <target xsi:type="File" name="allfile" fileName="${basedir}\logs\${shortdate}.log"

            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

    <target name="LogFileAsync" type="AsyncWrapper" queueLimit="6000" overflowAction="Discard">

      <target type="BufferingWrapper" name="dbAsync" bufferSize="300" flushTimeout="1500">
        <target xsi:type="File" name="allfile" fileName="c:\temp\GlarisEngine.UserLinkTracker.WebAppMVC\${configsetting:item=AppSettingEnvironment}\WebAppMVC-${configsetting:item=AppSettingEnv}-${date:format=MM-dd-yyyy}.log"
						   layout="${uppercase:${level}}|${date:format=MM-dd-yyyyTHH\:mm\:ss.fff}|${aspnet-TraceIdentifier}|${aspnet-request-ip}|${aspnet-request-url}  ${aspnet-item}|${event-properties:item=EventId_Id}|${aspnet-user-identity}|${logger}|${message} ${exception:format=tostring}" />
      </target>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />

    <logger name="*" minlevel="Trace" writeTo="LogFileAsync" />
  </rules>
</nlog>